<h3>Mes films </h3>

<!--
<form #formCreate="ngForm" (ngSubmit)="addMovie(formCreate.value)">
	<input type="text" id="title" ngControl="title" placeholder="ajouter un titre">
	<input type="text" id="actors" ngControl="actors" placeholder="ajouter un actors (séparé par des virgules)">
	<input type="text" id="directors" ngControl="directors" placeholder="ajouter un directors (séparé par des virgules)">
	<input type="text" id="year" ngControl="year" placeholder="ajouter une année">
	<button type="submit">Ajouter</button>

</form>
-->
<form [ngFormModel]="myForm" (ngSubmit)="addMovie()">
	<input [ngFormControl] = "myForm.controls['title']" type="text" id="title"  placeholder="ajouter un titre"><br>
	<input [ngFormControl] = "myForm.controls['actors']" type="text" id="actors"  placeholder="ajouter un actors (séparé par des virgules)"><br>
	<input [ngFormControl] = "myForm.controls['directors']" type="text" id="directors"  placeholder="ajouter un directors (séparé par des virgules)"><br>
	<input [ngFormControl] = "myForm.controls['year']" type="text" id="year" placeholder="ajouter une année"><br>
	<button type="submit" [disabled]="!myForm.valid">Ajouter</button>

</form>

<!--<input #movieTitle type="text" placeholder="ajouter un titre"><button (click)="addMovie(movieTitle.value)">Ajouter</button>-->
<div *ngIf="nbOfMovies === 1">1 film vu récemment</div>
<div *ngIf="nbOfMovies > 1">{{nbOfMovies}} films vus récemment</div>
<ul>
	<li *ngFor="#movie of recentlyWatchedMovies">
		{{movie.title}}
	</li>
</ul>